body {
  display: flex;
  height: 100vh;
}

.layout-container {
  display: flex;
  align-self: center;
  gap: 30px;
}

.game-board {
  display: grid;
  flex-grow: 2;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
}

.cell {
  border: 1px solid black;
  border-radius: 10px;
}

.player-xcard,
.player-ocard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 300px;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 10px;
  gap: 20px;
}

.profile-x-container,
.profile-o-container {
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 100px;
  border: 2px solid gray;
  width: 100px;
  height: 100px;
}

.x-profile-img,
.o-profile-img {
  align-self: center;
  max-width: 5%;
  max-width: 50%;
}

.o-name,
.x-name {
  border: none;
  border-bottom: 2px solid gray;
  font-size: 20px;
  padding-bottom: 5px;
}

.create-player-btn {
  align-self: center;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
}

.x-marks-container,
.o-marks-container {
  display: grid;
  justify-items: center;
}

.x-marks-container {
  grid-template-areas: ". letter-x ." "windmill skull satellite" ". dna .";
}

.letter-x {
  grid-area: letter-x;
}

.windmill {
  grid-area: windmill;
}

.skull {
  grid-area: skull;
}

.satellite {
  grid-area: satellite;
}

.dna {
  grid-area: dna;
}

.o-marks-container {
  grid-template-areas: ". letter-o ." "compass target orbit" ". turntable .";
}

.letter-o {
  grid-area: letter-o;
}

.compass {
  grid-area: compass;
}

.target {
  grid-area: target;
}

.orbit {
  grid-area: orbit;
}

.turntable {
  grid-area: turntable;
}

.mark-item {
  cursor: pointer;
  max-width: 60%;
  max-height: 60%;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
}

.mark-item:hover {
  border-color: rgb(250, 250, 120);
  transform: scale(1.2);
  transition: transform 0.1s ease;
}

.selected-x,
.selected-o {
  border-color: rgb(250, 250, 120);
  transition: transform 0.1s ease;
}
