@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  background-color: rgb(21, 32, 44);
}

body,
.start-btn,
.o-name,
.x-name,
.x-create-player-btn,
.o-create-player-btn {
  font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.layout-container {
  display: flex;
  align-self: center;
  gap: 30px;
}

.game-board {
  display: grid;
  flex-grow: 2;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
}

.cell {
  border: 1px solid black;
  border-radius: 10px;
}

.create-x-card,
.create-o-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 300px;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 10px;
  gap: 20px;
}

.profile-x-container,
.profile-o-container {
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 100px;
  border: 2px solid gray;
  width: 100px;
  height: 100px;
}

.x-profile-img,
.o-profile-img {
  align-self: center;
  max-width: 5%;
  max-width: 50%;
}

.o-name,
.x-name {
  border: none;
  border-bottom: 2px solid gray;
  font-size: 20px;
  padding-bottom: 5px;
}

.x-create-player-btn,
.o-create-player-btn {
  align-self: center;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
}

.x-create-player-btn:disabled,
.o-create-player-btn:disabled {
  background-color: rgb(170, 170, 170);
  color: rgb(77, 76, 76);
}

.input-error {
  border-bottom: 3px solid rgba(255, 0, 0, 0.471);
}

.select-error {
  color: rgba(255, 0, 0, 0.471);
}

.x-marks-container,
.o-marks-container {
  display: grid;
  justify-items: center;
}

.x-marks-container {
  grid-template-areas: ". letter-x ." "windmill skull satellite" ". dna .";
}

.letter-x {
  grid-area: letter-x;
}

.windmill {
  grid-area: windmill;
}

.skull {
  grid-area: skull;
}

.satellite {
  grid-area: satellite;
}

.dna {
  grid-area: dna;
}

.o-marks-container {
  grid-template-areas: ". letter-o ." "compass target orbit" ". turntable .";
}

.letter-o {
  grid-area: letter-o;
}

.compass {
  grid-area: compass;
}

.target {
  grid-area: target;
}

.orbit {
  grid-area: orbit;
}

.turntable {
  grid-area: turntable;
}

.mark-item {
  cursor: pointer;
  max-width: 60%;
  max-height: 60%;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
}

.mark-item:hover {
  border-color: rgb(250, 250, 120);
  transform: scale(1.2);
  transition: transform 0.1s ease;
}

.selected-x,
.selected-o {
  border-color: rgb(250, 250, 120);
  transition: transform 0.1s ease;
}

.player-x-card,
.player-o-card {
  display: none;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 300px;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 10px;
  gap: 20px;
}

.x-card-profile,
.o-card-profile {
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 100px;
  border: 2px solid gray;
  width: 100px;
  height: 100px;
}

.x-card-img,
.x-card-img:hover,
.o-card-img,
.o-card-img:hover {
  align-self: center;
  border-color: rgba(255, 255, 255, 0);
}

.x-card-name,
.o-card-name {
  align-self: center;
}

.x-turn,
.o-turn {
  display: none;
}

.x-stats,
.o-stats {
  align-self: center;
}
